@import "tailwindcss";

@theme {
  --color-Primary: #233876;
  --color-Second: #E1EFFE;
  --color-SecondPrimary: #4168DC;

  --font-Primary: 'Lato', sans-serif;
  --font-Logo: 'Alkatra', sans-serif;
}